{"ignition":{"version":"3.3.0"},"storage":{"files":[{"path":"/opt/k3s-install.sh","contents":{"source":"https://get.k3s.io"},"mode":484},{"overwrite":true,"path":"/etc/flatcar/update.conf","contents":{"compression":"","source":"data:,SERVER%3Ddisabled%0A"},"mode":420},{"path":"/etc/sysctl.d/80-swappiness.conf","contents":{"compression":"","source":"data:,vm.swappiness%3D0"}}]},"systemd":{"units":[{"contents":"[Unit]\nDescription=Run K3s install script\nWants = network-online.target\nAfter = network.target network-online.target\nConditionPathExists=/opt/k3s-install.sh\nConditionPathExists=!/opt/bin/k3s\n[Service]\nType=forking\nTimeoutStartSec=180\nRemainAfterExit=yes\nKillMode=process\nEnvironment=\"K3S_TOKEN=${k3s_token}\"\nEnvironment=\"INSTALL_K3S_EXEC=agent\"\nEnvironment=\"INSTALL_K3S_VERSION=${k3s_version}\"\nExecStart=/usr/bin/sh -c \"/opt/k3s-install.sh --server ${k3s_server_url}\"\n[Install]\nWantedBy=multi-user.target\n","enabled":true,"name":"k3s-install.service"}]}}
