aws_access_key = "AAAAAAAAAAAAAAA"
aws_secret_key = "AAAAAAAAAAAAAAA"

cloudflare_email = "test@example.com"
cloudflare_token = "AAAAAAAAAAAAAAA"

vultr_token         = "AAAAAAAAAAAAAAA"
vultr_registry_user = "AAAAAAAAAAAAAAA"
vultr_registry_key  = "AAAAAAAAAAAAAAA"

k3s_server_token = "AAAAAAAAAAAAAAA"

api_app_key    = "AAAAAAAAAAAAAAA"
api_admin_pass = "AAAAAAAAAAAAAAA"

public_ssh_keys = {
  my_host = "ssh-rsa "AAAAAAAAAAAAAAA="
}
