apiVersion: v1
kind: Config
clusters:
- name: k3s
  cluster:
    certificate-authority-data: ${certificate_authority_data}
    server: ${server}
users:
- name: admin
  user:
    client-certificate-data: ${client_certificate_data}
    client-key-data: ${client_key_data}
contexts:
- name: k3s-admin
  context:
    cluster: k3s
    user: admin
current-context: k3s-admin
